
<!-- <p>card works!</p>
<div class="card-img-top">
    <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
      <img    src="{{image}}" class="img-fluid"/>
      <a href="#!"  routerLink="/proudect-details/{{id}}">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">{{price}}</p>
      <button href="#!" (click)="addToCart()" class="btn btn-primary">Add to cart</button>
    </div>
  </div> -->


  <div class="row p-3 effects" >
    <div class="col-md-3"  >
      <img src="{{card.p.image}}" class="img-responsive" >
    </div>
    <div class="col-md-3">
      <h4>{{card.p.name}}</h4>
      <h5>${{card.p.price}}</h5>
   
    </div>

    <div class="col-md-3">
      
<button  class="btn" (click)="delete()"><i class="fa fa-trash"></i> Delete</button>

    </div>
    <!-- <div class="col-md-3">
      <h3 class="text-info">Size: <span class="text-danger">L</span></h3>
      <div class="color-group">
        <a href="#" class="color-block bg-warning"></a>
        <a href="#" class="color-block bg-danger"></a>
        <a href="#" class="color-block bg-success"></a>
        <a href="#" class="color-block bg-info"></a>
        <a href="#" class="color-block bg-dark"></a>
      </div>
    </div>
    <div class="col-md-3">
      <a href="#"><i class="fa fa-edit"></i></a>
      <a href="#"><i class="fa fa-trash-o"></i></a>
    </div>
  </div>
  <div class="row p-3 effects">
    <div class="col-md-3">
      <img src="icon.jpg" class="img-responsive" >
    </div>
    <div class="col-md-3">
      <h4>Shoes</h4>
      <h5>$500</h5>
      <h6>Quantity: 01</h6>
    </div>
    <div class="col-md-3">
      <h3 class="text-info">Size: <span class="text-danger">M</span></h3>
      <div class="color-group">
        <a href="#" class="color-block bg-warning"></a>
        <a href="#" class="color-block bg-danger"></a>
        <a href="#" class="color-block bg-success"></a>
        <a href="#" class="color-block bg-info"></a>
        <a href="#" class="color-block bg-dark"></a>
      </div>
    </div>
    <div class="col-md-3">
      <a href="#"><i class="fa fa-edit"></i></a>
      <a href="#"><i class="fa fa-trash-o"></i></a>
    </div>
  </div>
  <div class="row p-3 effects">
    <div class="col-md-3">
      <img src="icon.jpg" class="img-responsive" >
    </div>
    <div class="col-md-3">
      <h4>Shoes</h4>
      <h5>$500</h5>
      <h6>Quantity: 01</h6>
    </div>
    <div class="col-md-3">
      <h3 class="text-info">Size: <span class="text-danger">XL</span></h3>
      <div class="color-group">
        <a href="#" class="color-block bg-warning"></a>
        <a href="#" class="color-block bg-danger"></a>
        <a href="#" class="color-block bg-success"></a>
        <a href="#" class="color-block bg-info"></a>
        <a href="#" class="color-block bg-dark"></a>
      </div>
    </div>
   -->
  </div>
